@import '../../styles/variables';
$buttonColor: #6e707a;
.search-location-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  .search-location-button {
    border-color: $buttonColor;
    background: $buttonColor;
    color: $textColor;
  }
  .current-location-button {
    border-color: $buttonColor;
    background: $buttonColor;
    color: $textColor;
    border-radius: 500px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
