@import '../../styles/variables';
$textColor: #88869d;
.current-date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: $textColor;
  }
  p {
    color: $textColor;
    margin: 10px;
  }
}
