@import '../../styles/variables';
$buttonColor: #6e707a;
.hightlights-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .cards {
    background-color: #1e213a;
    padding: 22px;
    width: 47.5%;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &:nth-child(2n + 1) {
      margin-right: 5%;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        border-color: $buttonColor;
        background: $buttonColor;
        color: $textColor;
        border-radius: 50px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(170deg);
        margin-right: 10px;
      }
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
      }
    }

    h1 {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }
    p {
      margin: 0;
      font-weight: bold;
      font-size: 64px;
      line-height: 75px;
      color: $textColor;
      span {
        margin: 0;
        font-size: 36px;
        font-weight: normal;
      }
    }
  }
}
